.coinTickerThumb {
    height: 20px;
    display: inline-block; 
    vertical-align: bottom;
}
.coinTickerDeposit {
    max-height: 100px;    
}

.tipbotWallet .MuiInputBase-input {
    color: black;
}

.tipbotWallet label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined {
    color: black;
}