.uptime {
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    padding: 15px 0;
    overflow: hidden;
    .site {
      border-bottom: 1px solid #e6e7e8;
      margin: 0 30px;
      padding: 25px 0;
      .meta {
        display: flex;
        align-items: baseline;
        .name {
          font-size: 16px;
        }
        .status {
          background-position: left center;
          background-size: 14px auto;
          background-repeat: no-repeat;
          padding-left: 20px;
          margin-left: auto;
          &.ok {
            color: green;
          }
          &.down {
            color: #de484a;
          }
          &.unknown {
            color: #969ea8;
          }
        }
      }
      .timeline {
        display: flex;
        justify-content: space-between;
        margin: 15px 0 10px 0;
        i {
          flex-grow: 1;
          margin: 0 1px;
          height: 25px;
          border-radius: 5px;
          transition: opacity ease 150ms;
          &.ok {
            background-color: green;
          }
          &.down {
            background-color: #de484a;
          }
          &.none {
            background-color: #e5e8eb;
          }
          &:hover {
            opacity: 0.6;
          }
          &:first-child {
            margin-left: 0;
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .tooltip {
        padding: 6px 9px !important;
        border-radius: 5px !important;
      }
    }
  }